/* Channel Box Component */

/* mobile 360px width */

@media only screen and (min-width: 100px) {
  /* quick-access : Channel Group */

  .channelGroup {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 12px;
  }

  /* quick-access : Channel Button */

  .channelGroup > span {
    position: relative;
    margin-top: 30px;
    transition: var(--transition-100-ms);
    font-size: 0.5625rem;
    font-weight: 400;
    text-align: center;
  }

  .channelGroup > span::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: -28px;
    left: 0;
    background: #d1d1d1;
    border-radius: 50%;
    transition: var(--transition-100-ms);
  }

  .channelGroup > span::before {
    content: "";
    z-index: 2;
    position: absolute;
    width: 6px;
    height: 6px;
    top: -28px;
    left: 0;
    background: #f1f1f1;
    border-radius: 50%;
    transform: translateX(9px) translateY(9px);
    transition: var(--transition-100-ms);
  }

  /* quick-access : Channel Button Active */

  .channelGroup > span.channelBtnActive::after {
    background: var(--primary-color);
  }

  .channelGroup > span.channelBtnActive::before {
    background: #fff;
    width: 12px;
    height: 12px;
    transform: translateX(6px) translateY(6px);
  }

  /* window Channels Group */

  .windowChannelGroup {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 0.5625rem;
    font-weight: 400;
    text-align: center;
  }

  .windowChannelGroup svg path {
    fill: #bdbdbd;
    transition: fill 0.1s ease-out;
  }

  .windowBtnActive svg path {
    fill: var(--primary-color) !important;
  }

  .windowChannelGroup p {
    font-size: 0.625rem;
    font-weight: 400;
    text-align: center;
  }

  .windowChannelGroup span {
    position: absolute;
    top: 0;
    left: 0;
    width: 42px;
    height: 42px;
  }

  /* Cooler Channels Group */

  .coolerChannelGroup {
    position: relative;
  }

  .coolerChannelGroup span {
    position: absolute;
    top: 0;
    left: 0;
    width: 42px;
    height: 42px;
  }

  .coolerChannelGroup svg path {
    stroke: #bdbdbd;
    transition: var(--transition-100-ms);
  }

  .coolerChannelGroup img {
    width: 42px;
    height: 42px;
    padding: 9px;
  }

  .coolerChannelGroup svg {
    width: 42px;
    height: 42px;
    padding: 9px;
    border-radius: 10px;
    border: 1px solid #bdbdbd;
    transition: var(--transition-100-ms);
  }

  .coolerBtnActive svg {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color) !important;
  }

  .coolerBtnActive svg path {
    stroke: #fff !important;
  }
}

/* PC Width */

@media only screen and (min-width: 1024px) {
  .coolerChannelGroup,
  .windowChannelGroup,
  .channelLight {
    cursor: pointer;
  }
}
