/* Dashboard Page */

/* mobile 100px width to 360px width */

@media only screen and (min-width: 100px) {
  .container {
    width: 360px;
    min-height: calc(640px - 65px);
    padding-bottom: 100px;
  }

  /* Welcome Styles */

  .container > * {
    padding: 0 24px;
  }

  .welcome {
    margin-top: 42px;
  }

  #logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2rem;
  }

  #logo img {
    display: block;
    width: 6.125rem;
    height: 1rem;
  }

  .welcome p {
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--primary-text-color);
    padding: 0.5rem 0;
  }

  /* Quick Access Styles */

  .inside-outside {
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    background-color: #fff;
    color: #bdbdbd;
    height: 35px;
    width: 150px;
    font-size: 0.75rem;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
  }

  /* for windows version */

  /* .btn:hover {
        background-color: var(--primary-color);
    }

    .btn:hover span {
        color: #fff;
    } */

  .btnActive {
    background-color: var(--primary-color);
    color: #fff;
  }

  /* Quick Access List */

  .quick-access {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  /* quick-access/h3 : Title */

  .quick-access h3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.75rem;
    color: var(--primary-text-color);
  }

  .refreshBtn {
    width: 20px;
    height: 20px;
    padding: 3px;
    background-color: #fff;
    /* margin-right: 10px; */
    border-radius: 50%;
    transition: all 0.3s ease-out;
  }

  /* quick-access : Refresh Button */

  .refreshBtnActive {
    animation-name: refresh-animation;
    animation-duration: 0.3s;
  }

  @keyframes refresh-animation {
    from {
      transform: none;
    }
    to {
      transform: rotate(360deg);
    }
  }

  /* Favorite Equipments */

  .favorite-equipments div {
    margin-top: 1.03125rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .favorite-equipments div h3 {
    font-size: 0.75rem;
  }

  .plusBtn {
    width: 20px;
    height: 20px;
  }
}

/* Mobile 361px width and more */

@media only screen and (min-width: 361px) {
  .container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .quick-access {
    width: 360px;
  }
}

/* iPad width */

@media only screen and (min-width: 768px) {
  /* move to index js */

  .container {
    width: 75%;
    margin: auto;
  }

  .welcome {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #logo img {
    width: 7.65rem;
    height: 1.25rem;
  }

  .welcome p {
    font-size: 0.9rem;
    padding-bottom: 12px;
  }
}

/* PC Width */

@media only screen and (min-width: 1024px) {
  .refreshBtn,
  .btn {
    cursor: pointer;
  }
}
