/* Dashboard Page */

/* mobile 360px width */

@media only screen and (max-width: 360px) {
  .container {
    width: 360px;
    height: calc(640px - 42px);
  }

  /* Welcome Styles */

  .container > * {
    padding: 0 24px;
  }

  .welcome {
    margin-top: 42px;
  }

  /* Previous Design */

  /* .welcome .text {
        padding-top: 10px;
        padding-bottom: 8px;
    }

    .welcome .text h2 {
        font-size: 1rem;
        font-weight: 700;
        color: var(--secondary-text-color); 
    }
    
    .welcome .text p {
        font-size: 0.75rem;
        font-weight: 400;
        color: var(--primary-text-color);
    } */

  /* New Design */

  #logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 2rem;
  }

  #logo img {
    display: block;
    width: 6.125rem;
    height: 1rem;
  }

  .welcome p {
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--primary-text-color);
    padding: 0.5rem 0;
  }

  /* Quick Access Styles */

  .inside-outside {
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    background-color: #fff;
    color: #bdbdbd;
    height: 35px;
    width: 150px;
    font-size: 0.75rem;
    font-weight: 700;
    transition: all 0.3s ease-in-out;
  }

  /* for windows version */

  /* .btn:hover {
        background-color: var(--primary-color);
    }

    .btn:hover span {
        color: #fff;
    } */

  .btnActive {
    background-color: var(--primary-color);
    color: #fff;
  }

  /* Quick Access List */

  .quick-access {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  /* quick-access/h3 : Title */

  .quick-access h3 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 0.75rem;
    color: var(--primary-text-color);
  }

  .quick-access h3 i {
    padding: 5px;
    background-color: #fff;
    margin-right: 10px;
    border-radius: 50%;
    transition: all 0.3s ease-out;
  }

  /* quick-access : Refresh Button */

  .refreshBtn {
    animation-name: refresh-animation;
    animation-duration: 0.3s;
  }

  @keyframes refresh-animation {
    from {
      transform: none;
    }
    to {
      transform: rotate(360deg);
    }
  }

  /* quick-access : Channel Box */

  .channelBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    background-color: #fff;
    height: 90px;
    width: 312px;
    transition: all 0.3s ease-in-out;
  }

  .channelBox span {
    font-size: 0.625rem;
    font-weight: 700;
  }

  /* quick-access : Channel Group */

  .channelGroup {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 12px;
  }

  /* quick-access : Channel Button */

  /* این چیه؟ */
  /* .channelBtn {
    position: relative;
    margin-top: 40px;
    transition: all 0.3s ease-out;
    font-size: 0.625rem;
    font-weight: 700;
  } */

  .channelGroup > span {
    position: relative;
    margin-top: 30px;
    transition: all 0.2s ease-out;
    font-size: 0.5625rem;
    font-weight: 400;
    text-align: center;
  }

  .channelGroup > span::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    top: -28px;
    left: 0;
    background: #d1d1d1;
    border-radius: 50%;
    transition: all 0.2s ease-out;
  }

  .channelGroup > span::before {
    content: "";
    z-index: 2;
    position: absolute;
    width: 6px;
    height: 6px;
    top: -28px;
    left: 0;
    background: #f1f1f1;
    border-radius: 50%;
    transform: translateX(9px) translateY(9px);
    transition: all 0.2s ease-out;
  }

  /* quick-access : Channel Button Active */

  .channelGroup > span.channelBtnActive::after {
    background: var(--primary-color);
  }

  .channelGroup > span.channelBtnActive::before {
    background: #fff;
    width: 12px;
    height: 12px;
    transform: translateX(6px) translateY(6px);
  }

  /* window Channels Group */

  .windowChannelGroup {
    display: flex;
    flex-direction: column;
    font-size: 0.5625rem;
    font-weight: 400;
    text-align: center;
  }

  .windowChannelGroup svg path {
    fill: #bdbdbd;
    transition: fill 0.3s ease-out;
  }

  .windowBtnActive svg path {
    fill: var(--primary-color) !important;
  }

  .windowChannelGroup span {
    font-size: 0.5625rem;
    font-weight: 400;
    text-align: center;
  }

  /* Cooler Channels Group */

  .coolerChannelGroup {
    position: relative;
  }

  .coolerChannelGroup span {
    position: absolute;
    top: 0;
    left: 0;
    width: 42px;
    height: 42px;
  }

  .coolerChannelGroup svg path {
    stroke: #bdbdbd;
    transition: all 0.3s ease-out;
  }

  .coolerChannelGroup img {
    width: 42px;
    height: 42px;
    padding: 9px;
  }

  .coolerChannelGroup svg {
    width: 42px;
    height: 42px;
    padding: 9px;
    border-radius: 10px;
    border: 1px solid #bdbdbd;
    transition: all 0.3s ease-out;
  }

  .coolerBtnActive svg {
    background-color: var(--primary-color);
    border: 1px solid var(--primary-color) !important;
  }

  .coolerBtnActive svg path {
    stroke: #fff !important;
  }

  /* Favorite Equipments */

  .favorite-equipments div {
    margin-top: 1.03125rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .favorite-equipments div h3 {
    font-size: 0.75rem;
  }

  .favorite-equipments div i {
    font-size: 1.25rem;
  }
}
