/* variables */

:root {
  --main-bg-color: #f1f1f1;
  --primary-color: #51a7f2;
  --primary-text-color: #4c4f53;
  --secondary-text-color: #003465;
  --gray-text-color: #bdbdbd;
  --transition-100-ms: all 0.1s ease-out;
}

/* Basic Styles */

body {
  font-size: 16px;
  background-color: var(--main-bg-color);
  font-family: IRANSansWeb;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Animate CSS */

:root {
  --animate-duration: 800ms;
  --animate-delay: 0.9s;
}

/* @media only screen and (min-width: 361px) {
  #root {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
} */
